.timer {
    display: flex;
    gap: 25px;
    flex-direction: row;
}

.field {
    display: flex;
    flex-direction: column;
}

.value {
    font-size: 60px;
}

.label {
    font-size: 20px;
    text-transform: uppercase;
}